<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- to activate annotations in beans already registered in the application 
		context -->
	<context:annotation-config />

	<!-- dataSource configuration -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/CMH-SS_Pool" />
	</bean>

	<bean id = "transactionManager" class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name = "dataSource"  ref = "dataSource" />    
   </bean>

	<bean id="serviceController" class="mx.com.stsystems.cmh.beta.web.controller.service.impl.ServiceControllerImpl">
	</bean>

	<!-- jdbcTemplate uses dataSource -->
	<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> -->
	<!-- <property name="dataSource" ref="dataSource" /> -->
	<!-- </bean> -->

	<bean id="hospitalDAO" class="mx.com.stsystems.cmh.beta.dao.impl.HospitalDAOImpl">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="codigoPostalDAO" class="mx.com.stsystems.cmh.beta.dao.impl.CodigoPostalDAOImpl">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="pacienteDAO" class="mx.com.stsystems.cmh.beta.dao.impl.PacienteDAOImpl">
		<constructor-arg ref="dataSource" />
		<constructor-arg ref="transactionManager" />
	</bean>

	<bean id="antecedenteDAO" class="mx.com.stsystems.cmh.beta.dao.impl.AntecedenteDAOImpl">
		<constructor-arg ref="dataSource" />
	</bean>

	<bean id="estadoCivilDAO" class="mx.com.stsystems.cmh.beta.dao.impl.EstadoCivilDAOImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	
	<bean id="tipoSangreDAO" class="mx.com.stsystems.cmh.beta.dao.impl.TipoSangreDAOImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	
	<bean id="polizaDAO" class="mx.com.stsystems.cmh.beta.dao.impl.PolizaDAOImpl">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- scans packages to find and register beans within the application context -->
	<context:component-scan
		base-package="mx.com.stsystems.cmh.beta.web.controller.service.impl" />
</beans>